APP_NAME=Caracal
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost

APP_KEY=JFayvQsRn8xQVCcv0kjav3A23p3yzFgHzIl7+pTvuEw=
APP_TIMEZONE=Asia/Jakarta
CSRF_ENABLED=true

# DATABASE
DB_ENABLED=false
DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=caracal
DB_USER=root
DB_PASS=

# CACHE
CACHE_ENABLED=false
CACHE_DRIVER=file
CACHE_TTL=3600
CACHE_PREFIX=caracal:

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# SESSION
SESSION_DRIVER=file
SESSION_LIFETIME=7200
SESSION_COOKIE=caracal_session

# MAIL
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@caracal.local
MAIL_FROM_NAME=Caracal

# STORAGE
UPLOAD_MAX_SIZE=5M
FILESYSTEM_DRIVER=local

# WEBSOCKET
WS_HOST=0.0.0.0
WS_PORT=8080
WS_LOGGING=true

WS_USE_SSL=false
WS_CERT_PATH=
WS_KEY_PATH=

WS_AUTH_ENABLED=false
WS_AUTH_SECRET=282121d421348bad4a602394e884b3ac
WS_PING_INTERVAL=30