APP_NAME=Caracal
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost

APP_KEY=JFayvQsRn8xQVCcv0kjav3A23p3yzFgHzIl7+pTvuEw=
APP_TIMEZONE=Asia/Jakarta
CSRF_ENABLED=true

# DATABASE
DB_ENABLED=false
DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=test
DB_USER=root
DB_PASS=

# CACHE
CACHE_ENABLED=false
CACHE_DRIVER=file      # file / redis
CACHE_TTL=3600         # TTL default
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# SESSION
SESSION_DRIVER=file
SESSION_LIFETIME=120

# MAIL CONFIG
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@caracal.local
MAIL_FROM_NAME=Caracal

# UPLOAD & STORAGE
UPLOAD_MAX_SIZE=5M
FILESYSTEM_DRIVER=local